<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>
        {% if page.title %}
            {{ page.title }} &middot;
        {% endif %}

        {{ site.title }}
    </title>

    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.madebyglutard.com/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/public/css/styles.css">
</head>
<body class="clearfix">
    {% include sidebar.html %}

    <div class="content">
        {{ content }}
    </div>


    <script src="//cdn.madebyglutard.com/libs/moment/2.7.0/moment.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.madebyglutard.com/libs/balance-text/1.3.0/jquery.balancetext.min.js"></script>
    <script src="{{ site.github.url }}/public/js/scripts.js"></script>
</body>
</html>
